@import '~@sinbix-angular/material/theming';

sinbix-theme-toggle-lida-dumb {
  > .toggle-wrap {
    flex-direction: row;
    display: flex;
    place-content: center start;
    align-items: center;
  }

  > .toggle-wrap > .toggle {
    margin: 0 4px;
  }
}
