@import '~@sinbix-angular/material/theming';

body {
  @include smat-theme(
    $primary: mat-palette($mat-orange),
    $accent: mat-palette($mat-indigo),
    $warn: mat-palette($mat-red),
    $background: $mat-dark-theme-background,
    $foreground: $mat-dark-theme-foreground
  );
}
