import { NormalizedProjectOptions } from '@sinbix/core/plugin-utils';

export interface <%= className %>SchematicOptions {
    name: string;
    tags?: string;
    directory?: string;
}

export interface NormalizedOptions
  extends <%= className %>SchematicOptions,
    NormalizedProjectOptions {}
