import { normalizeProject } from '@sinbix/utils';
import { Tree } from '@angular-devkit/schematics/src/tree/interface';
import { NormalizedOptions, <%= className %>SchematicOptions } from './models';

export function normalizeOptions(host: Tree, options: <%= className %>SchematicOptions): NormalizedOptions {
  const normalizedProject = normalizeProject(options);

  return {
    ...options,
    ...normalizedProject
  };
}
