@import '~tippy.js/dist/tippy.css';

@import '~@sinbix-angular/material/theming';

@include smat-core();

$primary: (
  100: #96d8e9,
  300: #143055,
  400: #8594da,
  500: #4b73cd,
  600: #3e5995,
  700: #086c9f,
  contrast: (
    100: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
  ),
);

$accent: (
  100: #9ebb98,
  400: #66bb6a,
  500: #43a047,
  700: #2e7d32,
  contrast: (
    100: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    700: $light-primary-text,
  ),
);

$warn: (
  100: #efbabc,
  400: #ef5350,
  500: #f44336,
  600: #e64a19,
  700: #bf360c,
  A100: rgba(191, 54, 12, 0.8),
  contrast: (
    100: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    A100: $light-primary-text,
  ),
);

$background: map-merge(
  $mat-light-theme-background,
  (
    'background': white,
  )
);

body {
  @include mat-theme(
    $primary: mat-palette($primary),
    $accent: mat-palette($accent),
    $warn: mat-palette($warn),
    $background: $background
  );
}

h4,
h5 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

