@import '~@sinbix-angular/material/theming';

ui-dep-graph-graph-tooltip {
  > .tooltip-card {
    min-width: 200px;

    @include smat-el('primary-700');
  }

  > .tooltip-card > .header {
    @include fx-layout('row', start center);
  }

  > .tooltip-card > .header > .type {
    padding: 4px;
    border: 1px solid;
    text-transform: uppercase;
    line-height: 1;
    font-size: 0.75em;
    font-weight: 300;
    margin-right: 0.4em;
    color: var(--color-primary-100);
  }

  > .tooltip-card > .content {
    margin: 16px 0;
  }

  > .tooltip-card > .content > strong {
    font-weight: 500;
  }

  > .tooltip-card > .actions {
    @include fx-layout(row, space-between center);
  }

  > .tooltip-card > .actions > button {
    @include fx-flex();
    @include smat-raised-button-color('primary-300');
  }

  > .tooltip-card > .actions > button:not(:last-child) {
    margin-right: 1.5em;
  }
}
