@import '~@sinbix-angular/material/theming';

feat-dep-graph-sidebar {
  display: block;
  position: relative;
  overflow-y: auto;
  z-index: 1;
  max-width: calc(50% - 10px);
  height: 100%;
  padding: 1.5em;

  @include mat-elevation(4);

  > .sidebar-section {
    margin-bottom: 1em;
  }

  > .sidebar-section > .unfocus {
    @include smat-stroked-button-color('warn');
  }

  > .sidebar-section > .select-buttons {
    @include fx-layout(row, space-between center);

    @include lt-breakpoint(sm) {
      @include fx-layout(column);
    }
  }

  > .sidebar-section > .select-buttons > button {
    @include smat-raised-button-color('primary');
    @include fx-flex();
  }

  > .sidebar-section > .select-buttons > button:not(:last-child) {
    margin-right: 1.5em;

    @include lt-breakpoint(sm) {
      margin-right: 0;
      margin-bottom: 1.5em;
    }
  }

  > .sidebar-section > .filter-form {
    width: 100%;
  }

  > .sidebar-section > .filter-form > .search {
    display: block;
  }
}
