@import '~@sinbix-angular/material/theming';

.light-theme {
  @include smat-theme(
    $primary: mat-palette($mat-indigo),
    $accent: mat-palette($mat-orange),
    $warn: mat-palette($mat-red),
    $extra: (
      success: mat-palette($mat-green),
    )
  );
}
